.home {
    background-color: white;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    background-color: #F6F6F6;
    padding: 50px;
    border-radius: 25px;
    margin-bottom: 50px;
}