.logementTitle {
    color: black;
}

.logementHost {
    color: black;
}


.logementLocation {
    color: black;
}


.tag {
    color: black;
}

.logementRating {
    color: black;
}

.logementDescription {
    color: black;
}

.logementEquipements {
    color: black;
}