.header {
    width: 100%;
    background-color: #ffffff;
    padding-top: 45px;

}

.inner {
    max-width: 1080px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 68px;
}

.nav {
    display: flex;
    gap: 57px;
}

.link {
    color: black;
    font-size: 24px;
    font-family: 'Montserrat';
    position: relative;
}

.link:hover {
    color: black;
}

.link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 1.55px;
    background-color: black;
}