.imgWrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 223px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-bottom: 43px;
}

.imgWrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    color: white;
    font-size: 48px;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
    line-height: 1;
    white-space: nowrap;
}