.card {
    position: relative;
    flex: 0 0 calc((100% - 120px) / 3);
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.imgWrapper {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
}

.titleCard {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
}



@media (max-width: 425px) {
    .card {
        flex: 1 1 calc(100% - 30px);
        height: 255px;
    }

    .titleCard {
        padding-left: 19.71px;
        padding-bottom: 15px;
        margin: 0;
    }

    .imgWrapper {
        border-radius: 10px;
        height: 100%;
    }
}