.card {
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;

}

.imgWrapper {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
}

.titleCard {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
}