footer {
    padding-top: 66px;
    padding-bottom: 29px;
    background-color: black;
    width: 100%;
    margin-top: 38px;
}


.logoFooter {
    margin-bottom: 28.56px;
}

p {
    margin: 0;
    font-size: 24px;
}